.about-us {
  background: url("../../img/about-mobile.png") no-repeat left 15px center, url("../../img/rectangle-bg-blue.svg") no-repeat left -30px top -11px, $dark-blue;
  background-size: contain, 143px 143px;
  color: $white;
  padding: 32px 0 60px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about-us__content-wrapper {
  padding: 0 25px;
  padding-right: 25px;
  max-width: 260px;
}
