.teammates {
  background-color: $dark-blue;
  color: $white;
  padding: 29px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;

  &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 5;
    background: url("../../img/smolov-back-desktop.png") no-repeat right 25px top 69px, url("../../img/rectangle-bg-blue.svg") no-repeat left -30px top 69px, url("../../img/rogovaya-back-desktop.png") no-repeat left -10px top 340px;
    background-size: 143px 143px, 143px 143px, 71px 71px;
  }

  &--upped {
    margin-top: -30px;
  }
}

.teammates__content-wrapper {
  padding: 0 25px;
  margin-bottom: 57px;
}

.teammates__preview-wrapper {
  margin-bottom: 20px;
}

.teammates__item {
  margin-bottom: 10px;
}
